In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/alarms.csv')

In [3]:
df['time'] = pd.to_datetime(df['time'])

In [4]:
df[df['time'] > '2023-10-08']['time'].dt.hour.value_counts()

18    1104
17     418
16     375
12     331
21     301
19     298
15     283
14     260
13     244
20     214
11     170
22     125
10      84
23      67
2       49
8       43
0       38
9       38
3       26
1       18
6        9
4        6
7        4
5        4
Name: time, dtype: int64

In [5]:
df['time'].shift(-1).head()

0   2019-06-13 20:56:00
1   2019-06-13 20:56:00
2   2019-06-18 10:06:00
3   2019-06-18 10:06:00
4   2019-06-18 11:55:00
Name: time, dtype: datetime64[ns]

In [6]:
df['time'].head()

0   2019-06-13 00:17:00
1   2019-06-13 20:56:00
2   2019-06-13 20:56:00
3   2019-06-18 10:06:00
4   2019-06-18 10:06:00
Name: time, dtype: datetime64[ns]

In [11]:
df['delta']=(df['time']-df['time'].shift())

In [14]:
df = df[df['time'] > '2023-10-06']

In [23]:
df.sort_values(by='delta', ascending=False)

,time,cities,threat,id,description,delta
11076,2023-10-07 06:29:02,בת-ים,0,446,ירי רקטות וטילים,17 days 09:33:08
18448,2023-10-19 12:47:42,אשקלון - דרום,0,1019,ירי רקטות וטילים,0 days 14:46:54
18854,2023-10-23 11:30:09,אשקלון - דרום,0,1096,ירי רקטות וטילים,0 days 14:30:08
19146,2023-10-26 10:30:52,כיסופים,0,1151,ירי רקטות וטילים,0 days 12:31:22
18394,2023-10-18 10:12:23,נחל עוז,0,1000,ירי רקטות וטילים,0 days 12:10:42
...,...,...,...,...,...,...
14666,2023-10-07 12:05:20,אשקלון - צפון,0,471,ירי רקטות וטילים,0 days 00:00:00
14664,2023-10-07 12:05:18,זיקים,0,471,ירי רקטות וטילים,0 days 00:00:00
14663,2023-10-07 12:05:18,כרמיה,0,471,ירי רקטות וטילים,0 days 00:00:00
14662,2023-10-07 12:05:18,אזור תעשייה הדרומי אשקלון,0,471,ירי רקטות וטילים,0 days 00:00:00
15501,2023-10-08 17:56:54,שדרות,0,606,ירי רקטות וטילים,0 days 00:00:00

In [28]:
df['daypart'] = df['time'].dt.hour // 4

In [29]:
pd.crosstab(df['time'].dt.date, df['daypart'])

daypart      0     1     2    3    4    5
time
2023-10-07   0  1600  1981  214  154  352
2023-10-08  62     9    16   27   54   69
2023-10-09  29     2    31  177  119   19
2023-10-10  16     4    20   87  120   18
2023-10-11   1     0    16   89  904   34
2023-10-12   0     0    30   21   63   24
2023-10-13   1     0    13  117   31   66
2023-10-14   3     0    53   26   42   77
2023-10-15   0     1     6   24   54   13
2023-10-16   0     0    24   29   78   46
2023-10-17   0     0     7   18  170   57
2023-10-18   0     0     2   22   21    9
2023-10-19   0     0     0   43   70   26
2023-10-20   0     0     7   19    8   70
2023-10-21   5     0     1   36   23    0
2023-10-22   3     0    17   52   25    1
2023-10-23   0     0    13   23    4    3
2023-10-24   0     1    11   70  101    7
2023-10-25   2     1     6    4   20   26
2023-10-26   0     0     7   50   49   39
2023-10-27   1     0     0   46   60   18
2023-10-28   1     0     5   30  101   31
2023-10-29   0     1     8   25   24   15
2023-10-30   3     1    32   39   29   24
2023-10-31   4     3    10   44   25   15